.about__wrapper {
    // width: 1440px;
    margin: 0 auto;
    background: #E1D4C9;
    padding: 0px 37px 0px 40px;

    h2 {
        padding-bottom: 40px;
    }
}

span {
    @extend %spanAccent;
}

.about__photos {
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    @include media-tablet {
        flex-direction: column;
        gap: 40px;
    }
}

.photos {
    display: flex;
    flex-direction: column;
    gap: 40px;

    div {
        display: flex;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            width:100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s;

            &:hover {
                transition: 1s;
                transform: scale(0.9);
            }
        }

    }
    @include media-tablet {
        display: block;
    }
}

.about__photo1 {
    width: 660px;
    height: 590px;
    @include media-tablet {
        width: 68.8rem;
        height: 59.0rem;
    }
}

.about__photo2 {
    width: 660px;
    height: 430px;
     @include media-tablet {
        width: 0px;
        height: 0px;
        img {
        
        display: none;
    }
     }
}

.about__photo3 {
    width: 660px;
    height: 430px;
    @include media-tablet {
        width: 0px;
        height: 0px;
        img {
            display: none;
        }
     }
}

.about__photo4 {
    width: 660px;
    height: 590px;
    @include media-tablet {
        width: 68.8rem;
        height: 59.0rem;
    }
}