.favouritesCoffee {
    scroll-behavior: smooth;
    height: 961px;
    h2 {
        text-align: center;
        padding-top: 62px;
    }
    span {
        @extend %spanAccent;
    }
    .wrapper {
        height: 999px;
    }
}

.about__wrapper {
    h2 {
        @include media-tablet {
            padding-top: 7.5rem;
        }
    }
}

 .slide__description {
        @include font (1.6rem, 150%, 400, normal);
        color: $color-dark;
        padding-top: 1.6rem;
    }

.slide__price {
    @include font (2.4rem, 125%, 600, normal);
    padding-top: 1.6rem;
}

.indiсator {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: $color-indiсator;
}

.slider__indiсators {
    width: 144px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 39.5px;
    @include media-tablet {
        padding-top: 3.9rem;
    }
}

.indiсator_active {
    background: $color-backgroundFooter;
}