.footer-wrapper {
    padding-bottom: 40px;
}

.footer__container {
    display: flex;
    background-color: $color-backgroundFooter;
    gap: calc(32px + 2vw);
    padding: calc(33px + 2vw);
    border-radius: 40px;
    @include media-tablet {
        flex-wrap: wrap;
        padding: 101px 6rem 86px 6rem;
        flex-direction: column;
        gap: 101px;
    }
    @include media-mobile {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 61px 0px 46px 16px;
        gap: 9px;
        br {
            display: none;
        }
    }
}

.footer__sir {
    flex: 1;
    h2 {
        color: $color-light;
        padding-bottom: 39px;
    }

    img {
        padding-top: 7px;
    }
}

.footer__contacts {

    li {
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid $color-light;

        a {
            padding-top: 7px;
        }
    }
}

.footer__contacts {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;

    svg * {
        stroke: $color-light;
    }

    li {
        transition: 0.5s linear;

        a {
            cursor: default;
        }
    }

    @media (hover:hover) {
    li:hover {
    background-color: $color-light;

    svg * {
        stroke: $color-dark;
    }
}
}

}

.footer__contactUs {
    flex-basis: 40%;
    flex: 1;
    padding: 3.2rem 0 0px 0rem;

    p {
        @include font (2.4rem, 125%, 600, normal);
        color: $color-light;
    }

    a {
        position: relative;
        cursor: default;
        color: $color-light;
        font-style: normal;
        width: 187px;
    }

    span {
        color: $color-light;
        font-style: normal;
    }

    a::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        display: block;
        width: 0;
        height: 2px;
        background-color: $color-light;
        transform: translateX(-50%);
        transition: 0.6s;
    }

    @media (hover:hover) {
        a:hover:after {
        width: 175px;
    }
}
    @include media-tablet {
        padding: 0rem 0 0px 0px;
    }
    @include media-mobile {
        padding: 35px 0 0px 0rem;
    }
}