.header-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
}
.header__nav {
    display: flex;
    justify-content: space-around;
}

.navList {
    list-style-type:  none;
    display: flex;
    justify-content: space-around;
    padding: 14px 1px;
    li {
        margin: 0 21px;
    }
    a {
        @include font (1.6rem, 150%, 600, normal);
        color: $color-dark;
        text-decoration: none;
        cursor: pointer;
        padding: 0;
    }
}
.logo {
    padding-left: 1px;
}

.header__menubtn {
    margin: 0 5px 0 342px;
    align-items: center;
    padding-top: 11px;

    a {
        text-decoration: none;
        color: $color-dark;
    }
    
}