.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 13px 0;
    @include media-tablet {
        padding: 20px 0 14px 0;
    }
    @include media-mobile {
        padding: 20px 0 13px 0;
    }
}
.header__nav {
    display: flex;
    flex-grow: 0.5;
    justify-content: space-between;
    @include media-tablet {
    display: none;
   }
   @include media-mobile {
    display: none;
   }
}

.navList {
    list-style-type:  none;
    display: flex;
    gap: calc(8px + 1vw);
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    padding: 17px 1px;
    
    a {
        cursor: default;
        @include font (1.6rem, 150%, 600, normal);
        color: $color-dark;
        text-decoration: none;
        padding: 0;
    }
   
}
.link {
    position: relative;
}
.link::after{
        position: absolute;
        content: "";
        bottom: -5px;
        left: 50%;
        display: block;
        width: 0;
        height: 2px;
        background-color: $color-dark;
        transform: translateX(-50%);
        transition: 0.6s;
    } 
    @media (hover:hover) {
    .link:hover:after {
            width: 100%;
        }
    }

.logo {
    padding-left: 1px;
}

.logoHome {
    cursor: default;
}


.h1none {
    display: none;
}

.header__menubtn {
    align-items: center;
    padding-top: 17px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        width: 72px;
        color: $color-dark;
    }
}

.link_active {
    cursor: default;
&::after {
    position: absolute;
    content: "";
    bottom: -3px;
    display: block;
    width: 101%;
    height: 2px;
    background-color: $color-dark;
}}

.header__menubtn_active {
    pointer-events: none;
    cursor: default;
}

.hamburger {
    // display: relative; 
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    display: none;
    position: relative;
	z-index:2;
	overflow: hidden;
        // display: block;
        // top: 50%;
        // width: 5px;
        // height: 5px;
        // margin: 0 auto;
        // background-color: red;
    
    @include media-tablet {
        display: block;
        margin-top: 8px;
       }
       @include media-mobile {
        display: block;
        margin-top: 8px;
    
        }

    // &>span,
    span { 
        width: 17px;
	height: 2px;
	position: absolute;
	top: 61%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}
span:nth-of-type(2) {
	top: calc(50% - 3px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}
    
       
}