.header-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
}
.header__nav {
    display: flex;
    justify-content: space-around;
}

.navList {
    list-style-type:  none;
    display: flex;
    justify-content: center;
    width: 1188px;
    padding: 17px 1px;
    li {
        margin: 0 21px;
    }
    a {
        cursor: default;
        @include font (1.6rem, 150%, 600, normal);
        color: $color-dark;
        text-decoration: none;
        padding: 0;
    }
   
}
.link {
    position: relative;
}
.link::after{
        position: absolute;
        content: "";
        bottom: -5px;
        left: 50%;
        display: block;
        width: 0;
        height: 2px;
        background-color: $color-dark;
        transform: translateX(-50%);
        transition: 0.6s;
    } 
.link:hover:after {
            width: 100%;
        }

.logo {
    padding-left: 1px;
}

.header__menubtn {
    align-items: center;
    padding-top: 17px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        width: 72px;
        color: $color-dark;
    }
}

.link_active {
    cursor: default;
&::after {
    position: absolute;
    content: "";
    bottom: -3px;
    display: block;
    width: 101%;
    height: 2px;
    background-color: $color-dark;
}}

.header__menubtn_active {
    pointer-events: none;
    cursor: default;
}