.task-part__secret-word {
  display: flex;
  gap: 3px;
  margin: 0 auto;
  justify-content: center;
}

.secret-word__letter {
  border-bottom: solid;
  width: 20px;
  max-width: 20px;
  height: 20px;
  text-transform: uppercase;
}

.secret-word__letter_guessed {
  text-align: center;
  border-bottom: 0px;

}