@mixin font($size, $height, $weight: 400, $style: normal) {
    font-family: 'Inter', 'Verdana', sans-serif;
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}

@mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >* {
        flex-basis: $width;
    }
}

@mixin media-tablet {
    @media screen and (width: 348px) {@content};
}

@mixin media-mobile {
    @media screen and (min-width: 380px) and (max-width: 767px) {@content};
}