.wrapper {
    width: 1440px;
    margin: 0 auto;
    background: #E1D4C9;
}

.header {
    display: flex;
    justify-content: flex-start;
}
.nav {
    width: calc(1440px-100px);
}

.navList {
    display: flex;
    width: 23px;
    justify-content: space-between;
}

// .header__menubtn {
//     display: flex;
//     justify-content: space-between;
// }