
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Inter', 'Verdana', sans-serif;
    font-size: 62.5%; /*10px;*/
    margin: 0;
    padding: 0;
    border: 0px;
    color: $color-dark;
}

body {
    background-color: $color-background;
    margin: auto;
    @include font (1.6rem, 150%, 600, normal);
}


.active__body {
    overflow: hidden;
}

h1 {
    @include font (7.2rem, 104%, 600, normal);
    color: $color-light;
    @include media-mobile {
        font-size: calc(clamp(4.2rem, 5vw + 1rem, 7.2rem));
    }
    @include media-mobile1 {
        font-size: 4.2rem;
    }
}

h2 {
    @include font (6.0rem, 125%, 600, normal);
    @include media-mobile {
        font-size: calc(clamp(3.2rem, 5vw + 1rem, 6.0rem));
        
    }
    @include media-mobile1 {
            font-size: 3.2rem;
        }
}

h4 {
    @include font (2.4rem, 125%, 600, normal);
}