.button {
    display: flex;
    width: 200px;
    height: 64px;
    border-radius: 100px;
    border: 0px;
}

.button__colored {
    background-color: $color-light;
}

.button_bordered {
    border: 1px solid $color-backgroundFooter;
    background-color: $color-background;
    overflow: hidden;
}