.button {
    display: flex;
    width: 200px;
    height: 64px;
    padding: 20px 78px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 0px;
}

.button__colored {
    background-color: $color-light;
}

