.card {
    width: 310px;
    height: 506px;
    border-radius: 40px;
    border: 1px solid var(--border-light, #C1B6AD);
    cursor: default;

    &:hover {
        img {
            transform: scale(0.91);
        }
    }
    img {
            width: 340px;
            height: 340px;
            transition: transform 0.5s;
        }

}
.card__image {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            width: 310px;
            height: 310px;
            border-radius: 40px;

        }
.coffeeName {
    padding: 20px 0 0 20px;
}

.card__description {
    padding: 13px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    height: 126px;
}