.contactUs {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 17fr;
    padding-top: 39px;
   
    a {
        color: $color-light;
        // text-align: left;
        margin: 0;
        text-decoration: none;
        padding-bottom: 17px;
    }

    img {
        padding-right: 4px;
    }

    :first-child {
        img {
            padding-right: 9px;
        }
    }
}