.slider__arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $color-light;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $color-dark;
    
    transition: 0.3s linear;

    @media (hover:hover) {
        cursor: pointer;
        &:hover {
        background-color: $color-backgroundFooter;

        svg * {
            stroke: $color-light;
            fill: $color-light;
        }
    }
}
    @include media-mobile {
        // width: 60px;
        // aspect-ratio: 60 / 60;
        display: none;
    }
    @include media-mobile1 {
        display: none;
    }
    
}

.slider__leftArrow {
    margin: 39px 0 0 4px;
    @include media-tablet {
            margin: 39px 0 0 0;
        }
        @include media-mobile {
            margin: 39px 0 0 0;
        }
}

.slider__rightArrow {
    margin: 39px 4px 0 0;
    @include media-tablet {
        margin: 39px 0 0 0px;
    }
    @include media-mobile {
        margin: 39px 0 0 0;
    }
}

.slider__container {
    display: flex;
    overflow: hidden;
    max-width: 640px;

    
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    @include media-mobile {
        // aspect-ratio: auto;
    }
}
.slider__line {
    display: flex;
    position: relative;
    left: 0;
    // overflow: hidden;
    max-width: 480px;
    // width: 480px;
    transition: 0.5s;
}

.slide {
    // width: 100% ;
    // height: 100%;
    text-align: center;
    margin: 0 auto;
    

    img {
        padding-top: 40px;
        @include media-mobile {
            // max-width: 100%;
        }
        @include media-mobile1 {
            max-width: 348px;
        }
    }

    h4 {
        padding-top: 14px
    }
    @include media-tablet {
        width: 48rem;
    }
    br {
        @include media-mobile {
            display: none;
        }
        @include media-mobile1 {
            display: none;
        }
    }
}