.main {
  // position: relative;
  width: 830px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  align-items: flex-end;
  gap: 25px;
  padding: 40px;
  background-color: rgba(214, 229, 227, 0.992);
  // min-height: 100vh;
  @include media-tablet {
    margin: 20px;
  }
  @include media {
    margin: 20px;
    flex-direction: column;
  }
}

.gallows-part {
  margin: 0 auto;
  position: relative;
  @include media {
    padding-bottom: 15px;
  }
}

.gallows-part__name {
  @include media {
    display: none;
    }
}
.galows-part__gallows {
  max-width: 200px;
  @include media-tablet {
    max-width: 150px;
  }
  @include media {
   width: 150px;
  }
}
.main-task__wrapper {
  max-width: 460px;
}
.task-part__count {
  color: red;
  @include media-tablet {

  }
}
.task-part__hint {
  font-size: 22px;
  text-align: center;
  // font-size: clamp(1rem, 0.98rem + 0.44vw, 1.3rem);
  @include media-tablet {
    font-size: 18px;
  }
  @include media {
    font-size: 18px;
  }
}
.task-part__hint-count {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 48px 0 18px 0;
}
.galows-part__person {
  position: absolute;
  top: 84px;
  left: 122px;
  @include media-tablet {
    margin-top: -20px;
    margin-left: -45px;
  }
  @include media {
    margin-top: -20px;
    margin-left: -45px;
    width: 100px;
    overflow: hidden;
  }
}
