@charset "UTF-8";
.favouritesCoffee span, span, .mobileApp__download span {
  font-style: italic;
  color: #B0907A;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: 0px;
  color: #403F3D;
}

body {
  background-color: #E1D4C9;
  margin: auto;
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

h1 {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 104%;
  color: #E1D4C9;
}

h2 {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

h4 {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  background: #E1D4C9;
  padding: 0px 40px 0px 40px;
}

.header-container {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 0 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navList {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1188px;
  padding: 17px 1px;
}

.navList li {
  margin: 0 21px;
}

.navList a {
  cursor: default;
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  text-decoration: none;
  padding: 0;
}

.link {
  position: relative;
}

.link::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 50%;
  display: block;
  width: 0;
  height: 2px;
  background-color: #403F3D;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.link:hover:after {
  width: 100%;
}

.logo {
  padding-left: 1px;
}

.logoHome {
  cursor: default;
}

.h1none {
  display: none;
}

.header__menubtn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 17px;
}

.header__menubtn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  width: 72px;
  color: #403F3D;
}

.link_active {
  cursor: default;
}

.link_active::after {
  position: absolute;
  content: "";
  bottom: -3px;
  display: block;
  width: 101%;
  height: 2px;
  background-color: #403F3D;
}

.header__menubtn_active {
  pointer-events: none;
  cursor: default;
}

.enjoy__wrapper {
  padding: 40px 40px 38px 40px;
}

.enjoy__button {
  position: relative;
  padding: 20px 78px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  cursor: pointer;
}

.enjoy__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enjoy__button .enjoy__menu {
  position: absolute;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.enjoy__button .enjoy__svg {
  padding-left: 59px;
  opacity: 0;
}

.enjoy__button:hover .enjoy__svg {
  display: block;
  margin-left: 6px;
  opacity: 100%;
}

.enjoy__button:hover .enjoy__menu {
  display: block;
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}

.enjoy__content {
  height: 644px;
  width: 1360px;
  background-image: url(../../../assets/container.png);
  border-radius: 40px;
  padding-top: 102px;
}

.enjoy__left {
  padding-left: 100px;
}

.enjoy__left p,
.enjoy__left h1 {
  width: 560px;
  color: #E1D4C9;
}

.enjoy__left span {
  font-style: italic;
  color: #B0907A;
}

.enjoy__button span {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
}

.enjoy__left h1 {
  padding-bottom: 41px;
}

.enjoy__left p {
  padding-bottom: 40px;
  font-weight: 400;
}

.layout-2-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.layout-2-column > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.layout-3-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout-3-column > * {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.favouritesCoffee {
  scroll-behavior: smooth;
  height: 961px;
}

.favouritesCoffee h2 {
  text-align: center;
  padding-top: 62px;
}

.favouritesCoffee .wrapper {
  height: 999px;
}

.slide__description {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #403F3D;
  padding-top: 16px;
}

.slide__price {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  padding-top: 16px;
}

.indiсator {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
}

.slider__indiсators {
  width: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding-top: 39.5px;
}

.indiсator_active {
  background: #665F55;
}

.about__wrapper {
  width: 1440px;
  margin: 0 auto;
  background: #E1D4C9;
  padding: 0px 37px 0px 40px;
}

.about__wrapper h2 {
  padding-bottom: 40px;
}

.about {
  height: 1325px;
}

.about__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.photos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.photos div img {
  width: 726px;
  height: 726px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.photos div img:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.about__photo1 {
  width: 660px;
  height: 590px;
}

.about__photo2 {
  width: 660px;
  height: 430px;
}

.about__photo3 {
  width: 660px;
  height: 430px;
}

.about__photo4 {
  width: 660px;
  height: 590px;
}

.wrapper__mobileApp {
  padding-top: 72px;
  padding-bottom: 92.5px;
}

.mobileApp__download {
  padding-top: 172px;
}

.mobileApp__left {
  width: 630px;
}

.mobileApp__left p {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.mobileApp__left h2 {
  padding-bottom: 40px;
}

.mobileApp__phones {
  padding: 28px 0px 0 53px;
}

.mobailApp__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-top: 40px;
}

.menu__title {
  width: 800px;
  text-align: center;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 39px;
}

.menuCoffee__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  padding-bottom: 101px;
}

.coffeeDescription {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.menu__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  width: 361px;
  padding-bottom: 38px;
  margin: auto;
}

.footer-wrapper {
  padding-bottom: 40px;
}

.footer__container {
  height: 450px;
  background-color: #665F55;
  padding: 100px;
  border-radius: 40px;
}

.footer__sir p {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #E1D4C9;
}

.footer__sir img {
  padding-top: 7px;
}

.itscoffee {
  padding-bottom: 40px;
}

.footer__contacts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #E1D4C9;
}

.footer__contacts li a {
  padding-top: 7px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 12px;
}

.footer__contacts svg * {
  stroke: #E1D4C9;
}

.footer__contacts li {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.footer__contacts li a {
  cursor: default;
}

.footer__contacts li:hover {
  background-color: #E1D4C9;
}

.footer__contacts li:hover svg * {
  stroke: #403F3D;
}

.footer__contactUs {
  padding: 32px 0 0px 50px;
}

.footer__contactUs p {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #E1D4C9;
}

.footer__contactUs a {
  position: relative;
  cursor: default;
  color: #E1D4C9;
  font-style: normal;
  width: 187px;
}

.footer__contactUs span {
  color: #E1D4C9;
  font-style: normal;
}

.footer__contactUs a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 2px;
  background-color: #E1D4C9;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.footer__contactUs a:hover:after {
  width: 175px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  border: 0px;
}

.button__colored {
  background-color: #E1D4C9;
}

.button_bordered {
  border: 1px solid #665F55;
  background-color: #E1D4C9;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 37px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.button_bordered img {
  display: block;
}

.button_bordered span {
  color: #403F3D;
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.button_bordered p {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.button_bordered div {
  padding: 4px 0px 0 9px;
  margin-bottom: 9px;
}

.button_bordered:hover {
  background-color: #665F55;
}

.button_bordered:hover span,
.button_bordered:hover p {
  color: #E1D4C9;
}

.button_bordered:hover svg {
  color: #E1D4C9;
}

.button_gplay {
  padding-right: 24px;
}

.contactUs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 17fr;
      grid-template-columns: 17fr;
  padding-top: 39px;
}

.contactUs span {
  padding-bottom: 17px;
}

.contactUs a {
  color: #E1D4C9;
  margin: 0;
  text-decoration: none;
  padding-bottom: 8px;
}

.contactUs img {
  padding-right: 4px;
}

.contactUs :first-child img {
  padding-right: 8px;
}

.contactUs :nth-child(2) img {
  padding-right: 5px;
}

.slider__arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #E1D4C9;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #403F3D;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.slider__arrow:hover {
  background-color: #665F55;
}

.slider__arrow:hover svg * {
  stroke: #E1D4C9;
  fill: #E1D4C9;
}

.slider__leftArrow {
  margin: 330px 0 0 4.5px;
}

.slider__rightArrow {
  margin: 330px 5px 0 0;
}

.slider__container {
  overflow: hidden;
  width: 1260px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  width: 1152px;
  height: 100%;
  text-align: center;
  padding-left: 81px;
}

.slide img {
  padding-top: 40px;
}

.slide h4 {
  padding-top: 14px;
}

.card {
  width: 310px;
  height: 506px;
  border-radius: 40px;
  border: 1px solid var(--border-light, #C1B6AD);
  cursor: default;
}

.card:hover img {
  -webkit-transform: scale(0.91);
          transform: scale(0.91);
}

.card img {
  width: 340px;
  height: 340px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 310px;
  height: 310px;
  border-radius: 40px;
}

.coffeeName {
  padding: 20px 0 0 20px;
}

.card__description {
  padding: 13px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  height: 126px;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px 8px 8px;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  cursor: pointer;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.tab:hover {
  background-color: #665F55;
}

.tab:hover .tabIcon {
  background-color: #E1D4C9;
}

.tab:hover .tabName {
  color: #E1D4C9;
}

.tabName {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
}

.tabName_active {
  color: #E1D4C9;
}

.tabIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C1B6AD;
}

.tabIcon_active {
  background-color: #E1D4C9;
}

.tab_active {
  cursor: default;
  background-color: #665F55;
}
/*# sourceMappingURL=home.css.map */