@charset "UTF-8";
.favouritesCoffee span, span, .mobileApp__download span {
  font-style: italic;
  color: #B0907A;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: 0px;
  color: #403F3D;
}

body {
  background-color: #E1D4C9;
  margin: auto;
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

h1 {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 104%;
  color: #E1D4C9;
}

h2 {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

h4 {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  background: #E1D4C9;
  padding: 0px 40px 0px 40px;
}

.header-container {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navList {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 14px 1px;
}

.navList li {
  margin: 0 21px;
}

.navList a {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}

.logo {
  padding-left: 1px;
}

.header__menubtn {
  margin: 0 5px 0 342px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 11px;
}

.header__menubtn a {
  text-decoration: none;
  color: #403F3D;
}

.enjoy__wrapper {
  padding: 39px;
}

.enjoy__button {
  padding: 20px 78px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.enjoy__content {
  height: 644px;
  width: 1360px;
  background-image: url(/assets/img-hero.jpg);
  background-size: cover;
  background-position: right 0px bottom -30px;
  border-radius: 40px;
  padding-top: 104px;
}

.enjoy__left p, .enjoy__left h1 {
  width: 560px;
  color: #E1D4C9;
}

.enjoy__left span {
  font-style: italic;
  color: #B0907A;
}

.enjoy__button span {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
}

.enjoy__left h1 {
  padding-bottom: 41px;
}

.enjoy__left p {
  padding-bottom: 40px;
  font-weight: 400;
}

.enjoy__left {
  padding-left: 101px;
}

.layout-2-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.layout-2-column > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.layout-3-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout-3-column > * {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.favouritesCoffee {
  scroll-behavior: smooth;
  height: 961px;
}

.favouritesCoffee h2 {
  text-align: center;
  padding-top: 62px;
}

.favouritesCoffee .wrapper {
  height: 999px;
}

.slide__description {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #403F3D;
  padding-top: 16px;
}

.slide__price {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  padding-top: 16px;
}

.indiсator {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
}

.slider__indiсators {
  width: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding-top: 39.5px;
}

.active {
  background: #665F55;
}

.about__wrapper {
  width: 1440px;
  margin: 0 auto;
  background: #E1D4C9;
  padding: 0px 37px 0px 40px;
}

.about__wrapper h2 {
  padding-bottom: 40px;
}

.about {
  height: 1325px;
}

.about__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.photos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.photos div img {
  width: 726px;
  height: 726px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.photos div img:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.about__photo1 {
  width: 660px;
  height: 590px;
}

.about__photo2 {
  width: 660px;
  height: 430px;
}

.about__photo3 {
  width: 660px;
  height: 430px;
}

.about__photo4 {
  width: 660px;
  height: 590px;
}

.wrapper__mobileApp {
  padding-top: 72px;
  padding-bottom: 94.5px;
}

.mobileApp__download {
  padding-top: 172px;
}

.mobileApp__left {
  width: 630px;
}

.mobileApp__left p {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.mobileApp__left h2 {
  padding-bottom: 40px;
}

.mobileApp__phones {
  padding: 28px 0px 0 53px;
}

.mobailApp__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-top: 40px;
}

.button__container {
  background-color: #E1D4C9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 0px 19px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__container img {
  display: block;
}

.button__container span {
  color: #403F3D;
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.button__container p {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.button__container div {
  padding: 0px 0px 0 9px;
  margin-bottom: 9px;
}

.footer-wrapper {
  padding-bottom: 40px;
}

.footer__container {
  height: 450px;
  background-color: #665F55;
  padding: 100px;
  border-radius: 40px;
}

.footer__sir p {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #E1D4C9;
}

.footer__sir img {
  padding-top: 7px;
}

.itscoffee {
  padding-bottom: 40px;
}

.footer__contacts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #E1D4C9;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 12px;
}

.footer__contactUs {
  padding: 32px 0 0px 50px;
}

.footer__contactUs p {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #E1D4C9;
}

.footer__contactUs a {
  color: #E1D4C9;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  border: 0px;
}

.button__colored {
  background-color: #E1D4C9;
}

.button_bordered {
  border: 1px solid #665F55;
  background-color: #E1D4C9;
  overflow: hidden;
}

.contactUs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 17fr;
      grid-template-columns: 17fr;
  padding-top: 39px;
}

.contactUs a {
  color: #E1D4C9;
  margin: 0;
  text-decoration: none;
  padding-bottom: 17px;
}

.contactUs img {
  padding-right: 4px;
}

.contactUs :first-child img {
  padding-right: 9px;
}

.slider__arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #E1D4C9;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #403F3D;
}

.slider__leftArrow {
  background-image: url(/assets/arrow-left.png);
  margin: 330px 0 0 4.5px;
}

.slider__rightArrow {
  background-image: url(/assets/Vectorarrow-right.png);
  margin: 330px 5px 0 0;
}

.slider__container {
  overflow: hidden;
  width: 1260px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  width: 1152px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.slide img {
  padding-top: 40px;
}

.slide h4 {
  padding-top: 14px;
}
/*# sourceMappingURL=home.css.map */